{% extends 'base/base.html' %}
{% load static %}
{% block content %}

    <!-- Hero Section -->
    <section class="hero">
        <div class="icon-container">
            <i class="fa-solid fa-phone"></i>
            <i class="fa-brands fa-whatsapp"></i>
            <i class="fa-brands fa-twitter"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-telegram"></i>
        </div>    
        <h1>Contact Us</h1>
        <p>Get in touch with us through the following channels:</p>
    </section>

    <!-- Contact Details Section -->
    <div class="contact-container">
        <!-- Phone Container -->
        <div class="contact-box">
            <i class="fa-solid fa-phone"></i>
            <div class="contact-info">
                <strong>Phone:</strong>
                <a href="tel:9061449328">9061449328</a>
            </div>
        </div>

        <!-- WhatsApp Container -->
        <div class="contact-box">
            <i class="fa-brands fa-whatsapp"></i>
            <div class="contact-info">
                <strong>WhatsApp:</strong>
                <a href="https://wa.me/9061449328" target="9061449328">9061449328</a>
            </div>
        </div>

        <!-- Twitter Container -->
        <div class="contact-box">
            <i class="fa-brands fa-twitter"></i>
            <div class="contact-info">
                <strong>Twitter:</strong>
                <a href="https://twitter.com/skillmatch" target="_blank">@skillmatch</a>
            </div>
        </div>

        <!-- Facebook Container -->
        <div class="contact-box">
            <i class="fa-brands fa-facebook"></i>
            <div class="contact-info">
                <strong>Facebook:</strong>
                <a href="https://facebook.com/skillmatchofficial" target="_blank">skillmatchofficial</a>
            </div>
        </div>

        <!-- Instagram Container -->
        <div class="contact-box">
            <i class="fa-brands fa-instagram"></i>
            <div class="contact-info">
                <strong>Instagram:</strong>
                <a href="https://instagram.com/skillmatchofficial" target="_blank">@skillmatchofficial</a>
            </div>
        </div>

        <!-- Telegram Container -->
        <div class="contact-box">
            <i class="fa-brands fa-telegram"></i>
            <div class="contact-info">
                <strong>Telegram:</strong>
                <a href="https://t.me/skillmatchofficial" target="_blank">Chat on Telegram</a>
            </div>
        </div>
    </div>

{% endblock content %}